* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(./image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white ;
}

/* Box 2 */
.add-first {
    color: #cccc;
    font-size: 0.85rem;
}

.add-sec {
    font-size: 1rem;
}

.add-icon {
    display: flex;
}